.root {

    /* Redefine base colors */
    /*-fx-base: rgb(50, 50, 50);*/
    -fx-base: #1d1d1d;
    -fx-background: rgb(50, 50, 50);
    -fx-background-color: #1d1d1d;
    -fx-control-inner-background:  rgb(50, 50, 50);

    /* make controls (buttons, thumb, etc.) slightly lighter */
    -fx-color: derive(-fx-base, 10%);

    /* text fields and table rows background */
    -fx-control-inner-background: rgb(20, 20, 20);
    /* version of -fx-control-inner-background for alternative rows */
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 20%);

    /* text colors depending on background's brightness */
    -fx-light-text-color: rgb(220, 220, 220);
    -fx-mid-text-color: rgb(100, 100, 100);
    -fx-dark-text-color: rgb(20, 20, 20);

    /* A bright blue for highlighting/accenting objects.  For example: selected
     * text; selected items in menus, lists, trees, and tables; progress bars */
    -fx-accent: rgb(0, 80, 100);

    /* color of non-focused yet selected elements */
    -fx-selection-bar-non-focused: rgb(50, 50, 50);
}

/* Labels ---------------------------------------------*/

.label {
    /*-fx-font-size: 11pt;*/
    /*-fx-font-family: "Segoe UI Semibold";*/
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    /*-fx-font-size: 11pt;*/
    /*-fx-font-family: "Segoe UI Semibold";*/
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    /*-fx-font-size: 32pt;*/
    /*-fx-font-family: "Segoe UI Light";*/
    -fx-text-fill: white;
    -fx-opacity: 1;
}


/* Menus ---------------------------------------------*/

.menu-bar {
    /*-fx-background-color: derive(#1d1d1d,20%);*/
    -fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));
}
.menu-bar .label {
/*
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
*/
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .label {
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}
.menu .left-container {
    -fx-background-color: black;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}


/* Tabs ---------------------------------------------*/

.tab {
    -fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}


/* Toolbars ---------------------------------------------*/

.tool-bar: horizontal {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));
}


/* Scrollbars ---------------------------------------------*/

/* Fix scroll bar buttons arrows colors */
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(220, 220, 220);
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(240, 240, 240);
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, rgb(255, 255, 255);
}


/* Buttons ---------------------------------------------*/

.button {
    /*-fx-background-color: transparent;*/
    /*-fx-padding: 5 22 5 22;*/
    /*-fx-border-color: #e2e2e2;*/
    -fx-border-color: yellow;
    /*-fx-border-width: 2;*/
    -fx-background-radius: 10;
    -fx-background-color: #1d1d1d;
/*
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
*/
    -fx-text-fill: white;
    /*-fx-text-fill: #d8d8d8;*/
    /*-fx-background-insets: 0 0 0 0, 0, 1, 2;*/
}

.button:pressed, .button:default:pressed {
    fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: darkred;
}
.button:focused {
/*
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
*/
}
.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}
/*
.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}
*/
.button:hover, .button:default:hover {
    /*-fx-background-color: #3a3a3a;*/
    /*-fx-background-color: derive(-fx-focus-color,30%);*/
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-color: -fx-hover-base;
    -fx-border-color: white;
}

/* Table ---------------------------------------------*/

.table-view {
    -fx-table-cell-border-color: derive(-fx-base,+10%);
    -fx-table-header-border-color: derive(-fx-base,+20%);
/*
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
*/
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-padding: 5;
}
.table-view .column-header-background {
    -fx-background-color: transparent;
}
.table-view .column-header,
.table-view .filler {
    /*-fx-size: 35;*/
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}
.table-view .column-header .label {
    /*-fx-font-size: 20pt;*/
    /*-fx-font-family: "Segoe UI Light";*/
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-row:empty {
    -fx-background-color: black; /*FIXME FDA 2017/09 Sans effet*/
    -fx-opacity: 0.5;/*FIXME FDA 2017/09 Sans effet*/
    -fx-visible: FALSE;/*FIXME FDA 2017/09 Sans effet*/
}

/* SplitPane ---------------------------------------------*/

.split-pane {
    -fx-padding: 1 0 0 0;
}
.split-pane:horizontal > * > .split-pane-divider {
    -fx-border-color: transparent -fx-base transparent -fx-base;
    -fx-background-color: transparent, derive(-fx-base,20%);
    -fx-background-insets: 0, 0 1 0 1;
}


/* TextInput ---------------------------------------------*/


/* Fix derived prompt color for text fields */
.text-input {
    -fx-prompt-text-fill: derive(-fx-control-inner-background, +50%);
}
/* Keep prompt invisible when focused (above color fix overrides it) */
.text-input:focused {
    -fx-prompt-text-fill: transparent;
}

.text-field {
/*
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
*/
}