/*TODO FDA 2017/05 Trouver comment définir le style au niveau de tous les éléments "readonly".*/
.non-modifiable {
    -fx-font-style: italic;
}

/*Cf. http://www.java2s.com/Code/Java/JavaFX/UsingCSStostyletheborder.htm*/
.barreEtat {
    /*-fx-border-color: lightgray;*/
    /*-fx-border-insets: 1pt;*/
    /*-fx-border-width: 1pt;*/
    /*-fx-border-style: solid;*/
    /*-fx-spacing: 1pt;*/
    -fx-border-insets: 2pt;
    -fx-alignment: baseline-center;
}

.itemBarreEtat {
    -fx-alignment: center;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-spacing: 2pt;
}

.incoherence {
    -fx-background-color: darkred;
    -fx-text-fill: white;
    /*-fx-opacity: 100%;*/
}

.erreurSaisie {
    -fx-background-color: darkred;
    -fx-text-fill: white;
}

.erreurSaisie-vbox {
    /*-fx-border-insets: 5pt, 5pt, 5pt, 5pt;*/
    /*-fx-spacing: 5pt;*/
}

.messageErreurSaisie {
    -fx-background-color: darkred;
    -fx-text-fill: white;
    -fx-opacity: 75%;
}

/*
Tâches
*/

.importanceAvecEngagement {
    -fx-background-color: darksalmon;
    -fx-font-weight: bold;
}

.importanceMaximale {
    -fx-background-color: darksalmon;
    -fx-font-weight: normal;
}

.importanceHaute {
    -fx-background-color: salmon;
    -fx-font-weight: normal;
}

.importanceNormale {
    -fx-background-color: inherit;
}

.importanceBasse {
    -fx-background-color: lightgray;
}

/*
Plan de charge
*/

.erase-button {
    -fx-graphic: url("/images/btnClear.png");
    /*
    -fx-background-image: url("/images/btnClear.png");
    !*-fx-background-size: 30px;*!
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    !*-fx-background-position: 90%;*!
    !*
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    *!
    */
}

.tropTot {
    /*-fx-background-color: rgba(224, 255, 255, 0.25); !*lightcyan #e0ffff *!*/
    -fx-opacity: 25%;
    -fx-background-image: url("/images/tropTot.gif");
    -fx-background-color: lightgray;
}

.tropTard {
    /*-fx-background-color: rgba(173, 216, 230, 0.25); !*lightblue #add8e6*!*/
    -fx-opacity: 25%;
    -fx-background-image: url("/images/tropTard.gif");
    -fx-background-color: darkgray;
}

.chargeNonPlanifiee {
    -fx-background-color: lightcoral;
    /*-fx-text-fill: white;*/
    /*-fx-opacity: 50%;*/
}

.periodeChargee {
    -fx-font-size: 80%;
    -fx-alignment: baseline-center;
    -fx-wrap-text: true; /*TODO FDA 2017/05 A revoir, sans effet.*/
}