
/*
Généralités :
*/

/*TODO FDA 2017/05 Trouver comment définir le style au niveau de tous les éléments "readonly".*/
.nonModifiable {
    -fx-font-style: italic;
}

/* Cf. https://stackoverflow.com/questions/18669209/javafx-what-is-the-best-way-to-display-a-simple-message */
/*
.popup {
    -fx-background-color: cornsilk;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 3;
}
*/


/*
Barre d'état :
*/

/*Cf. http://www.java2s.com/Code/Java/JavaFX/UsingCSStostyletheborder.htm*/
.barreEtat {
    /*-fx-border-color: lightgray;*/
    /*-fx-border-insets: 1pt;*/
    /*-fx-border-width: 1pt;*/
    /*-fx-border-style: solid;*/
    /*-fx-spacing: 1pt;*/
    -fx-border-insets: 2pt;
    -fx-alignment: baseline-center;
}

.itemBarreEtat {
    -fx-alignment: center;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-spacing: 2pt;
}

.incoherence {
    -fx-background-color: darkred;
    -fx-text-fill: white;
    -fx-border-color: red;
    -fx-border-width: 2pt;
    /*-fx-text-fill: white;*/
    /*-fx-opacity: 100%;*/
}


/*
Validation de la saisie depuis l'IHM :
*/

.erreurSaisie {
/*
    -fx-background-color: darkred;
    -fx-text-fill: white;
*/
    /* Cf. ControlsFX */
    -fx-effect: dropshadow(three-pass-box, darkred, 7, 0, 0, 0);
}

.erreurSaisie-vbox {
    /*-fx-border-insets: 5pt, 5pt, 5pt, 5pt;*/
    /*-fx-spacing: 5pt;*/
}

.warningSaisie {
    /* Cf. ControlsFX */
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}

.messageErreurSaisie {
    /* Cf. ControlsFX */
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}


/*
Dispo :
*/


.periodeDispo-column {
    -fx-font-size: 80%;
    -fx-alignment: baseline-center;
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}
.periodeDispo-column .label {
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}


/*
Tâches :
*/

.description-column : {
    -fx-alignment: baseline-left;
}

.projetAppli-column : {
    -fx-alignment: baseline-center;
}
/* https://github.com/bugmaker31/planCharge/issues/57 Cadrer des colonnes des tâches et du plan de charge
.projetAppli-column .text : {
    -fx-text-alignment: baseline-center;  <-- Sans effet...
}
*/

.charge-column {
    -fx-alignment: baseline-right;
}


.importanceAvecEngagement {
    -fx-background-color: #bc5a45;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.importanceMaximale {
    -fx-background-color: #f18973;
    -fx-text-fill: white;
    -fx-font-weight: normal;
}

.importanceHaute {
    -fx-background-color: #f4e1d2;
    -fx-font-weight: normal;
}

.importanceNormale {
    /*-fx-background-color: #fdf3f3;*/
}

.importanceBasse {
    -fx-background-color: #b2b2b2;
    -fx-text-fill: white;
}


/*
Plan de charge :
*/

.erase-button {
    -fx-graphic: url("/images/btnClear.png");
    /*
    -fx-background-image: url("/images/btnClear.png");
    !*-fx-background-size: 30px;*!
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    !*-fx-background-position: 90%;*!
    !*
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    *!
    */
}


.avantPeriodeDemandee {
    /*-fx-background-color: rgba(224, 255, 255, 0.25); !*lightcyan #e0ffff *!*/
    -fx-background-color: #DCDCDC;
    -fx-opacity: 50%;
    -fx-background-image: url("/images/tropTot.gif");
}

.pendantPeriodeDemandee {
    -fx-background-color: #778899;
    -fx-text-fill: white;
}

.apresPeriodeDemandee {
    /*-fx-background-color: rgba(173, 216, 230, 0.25); !*lightblue #add8e6*!*/
    -fx-background-color: #696969;
    -fx-text-fill: white;
    -fx-opacity: 50%;
    -fx-background-image: url("/images/tropTard.gif");
}


.chargeNonPlanifiee {
    -fx-background-color: #EA4335;
    /*-fx-text-fill: white;*/
    /*-fx-opacity: 50%;*/
}

.periodeChargee-column {
    -fx-font-size: 80%;
    -fx-alignment: baseline-center;
}
.periodeChargee-column .label {
    -fx-wrap-text: true;
    -fx-alignment: baseline-center; /* FIXME FDA 2017/08 Sans effet. */
}

.chargePlanifiee-column {
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}
.chargePlanifiee-column .label {
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}