
/*
Généralités :
*/

/*TODO FDA 2017/05 Trouver comment définir le style au niveau de tous les éléments "readonly".*/
.nonModifiable {
    -fx-font-style: italic;
}

/* Cf. https://stackoverflow.com/questions/18669209/javafx-what-is-the-best-way-to-display-a-simple-message */
/*
.popup {
    -fx-background-color: cornsilk;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 3;
}
*/

/* Cf. https://stackoverflow.com/questions/27118872/how-to-hide-tableview-column-header-in-javafx-8 */
.noHeader-table .column-header-background {
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

/* Cf. http://fxexperience.com/2011/11/alternate-row-highlighting-in-empty-tableview-and-listview-rows */
.table-row-cell:empty {
    -fx-background-color: white;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

/* Cf. https://stackoverflow.com/questions/21707178/javafx-how-to-set-selected-row-text-color-in-not-focused-tableview */
/*
.table-row-cell:selected {
   -fx-background-color: steelblue;
   -fx-text-background-color: red;
}
*/

/* Cf. http://fxexperience.com/2011/11/alternate-row-highlighting-in-empty-tableview-and-listview-rows */
.list-cell:empty {
    -fx-background-color: white;
}

/*
Barre d'état :
*/

/*Cf. http://www.java2s.com/Code/Java/JavaFX/UsingCSStostyletheborder.htm*/
.barreEtat {
    -fx-border-color: darkgray;
    -fx-border-width: 1pt;
    -fx-border-style: solid;
    -fx-border-insets: 0pt;

    -fx-spacing: 0pt;

    -fx-alignment: CENTER_LEFT;
}

.itemBarreEtat {
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-insets: 0pt;

    -fx-spacing: 0pt;

    -fx-alignment: CENTER;
}


/*
Validation de la saisie depuis l'IHM :
*/

.incoherence {
    -fx-background-color: darkred;
    -fx-text-fill: white;
    -fx-border-color: red;
    -fx-border-width: 2pt;
    /*-fx-text-fill: white;*/
    /*-fx-opacity: 100%;*/
}

.erreurSaisie {
/*
    -fx-background-color: darkred;
    -fx-text-fill: white;
*/
    /* Cf. ControlsFX */
    -fx-effect: dropshadow(three-pass-box, darkred, 7, 0, 0, 0);
}

.erreurSaisie-vbox {
    /*-fx-border-insets: 5pt, 5pt, 5pt, 5pt;*/
    /*-fx-spacing: 5pt;*/
}

.warningSaisie {
    /* Cf. ControlsFX */
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}

.messageErreurSaisie {
    /* Cf. ControlsFX */
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}


/*
Dispo :
*/


.periodeDispo-column {
    -fx-font-size: 80%;
    -fx-alignment: baseline-center;
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}
.periodeDispo-column .label {
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}


.avantMission {
    /*-fx-background-color: rgba(224, 255, 255, 0.25); !*lightcyan #e0ffff *!*/
    /*-fx-background-color: #DCDCDC;*/
    -fx-opacity: 50%; /* Pour pouvoir continuer de différencier les lignes paires de celles impaires. */
    -fx-background-image: url("/images/tropTot.gif");
}

.pendantMission {
    /*
    -fx-background-color: #778899;
    -fx-text-fill: white;
    */
}

.apresMission {
    /*-fx-background-color: rgba(173, 216, 230, 0.25); !*lightblue #add8e6*!*/
    /*-fx-background-color: #696969;*/
    /*-fx-text-fill: white;*/
    -fx-opacity: 50%; /* Pour pouvoir continuer de différencier les lignes paires de celles impaires. */
    -fx-background-image: url("/images/tropTard.gif");
}



/*
Tâches :
*/

.description-column : {
    -fx-alignment: baseline-left;
}

.projetAppli-column : {
    -fx-alignment: baseline-center;
}
/* [issue#57:Cadrer des colonnes des tâches et du plan de charge]
.projetAppli-column .text : {
    -fx-text-alignment: baseline-center;  <-- Sans effet...
}
*/

.charge-column {
    -fx-alignment: baseline-right;
}


.importanceAvecEngagement {
    -fx-background-color: #bc5a45;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.importanceMaximale {
    -fx-background-color: #f18973;
    -fx-text-fill: white;
    -fx-font-weight: normal;
}

.importanceHaute {
    -fx-background-color: #f4e1d2;
    -fx-font-weight: normal;
}

.importanceNormale {
    /*-fx-background-color: #fdf3f3;*/
}

.importanceBasse {
    -fx-background-color: #b2b2b2;
    -fx-text-fill: white;
}


/*
Plan de charge :
*/

.erase-button {
    -fx-graphic: url("/images/btnClear.png");
    /*
    -fx-background-image: url("/images/btnClear.png");
    !*-fx-background-size: 30px;*!
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    !*-fx-background-position: 90%;*!
    !*
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    *!
    */
}


.avantPeriodeDemandee {
    -fx-background-color: rgba(221, 221, 221, 0.3); /*rgba(224, 255, 255, 0.25) lightcyan #e0ffff*/
    /*-fx-background-color: #DCDCDC;*/
    /*-fx-text-fill: white;*/

    /*-fx-background-image: url("/images/tropTot.gif");*/
    /*-fx-opacity: 50%;*/ /* Pour pouvoir continuer de différencier les lignes paires de celles impaires. */
}

.pendantPeriodeDemandee {
    /*-fx-background-color: #778899;*/
    /*-fx-opacity: 50%;*/ /* Pour pouvoir continuer de différencier les lignes paires de celles impaires. */
    /*-fx-text-fill: white;*/
}

.apresPeriodeDemandee {
    -fx-background-color: rgba(192, 192, 192, 0.3); /*rgba(173, 216, 230, 0.25) lightblue #add8e6*/
    /*-fx-background-color: #696969;*/
    /*-fx-text-fill: white;*/
    /*-fx-background-image: url("/images/tropTard.png");*/
    /*-fx-opacity: 50%;*/ /* Pour pouvoir continuer de différencier les lignes paires de celles impaires, et continuer à lire les nombres. */
}


.chargeNonPlanifiee {
    -fx-background-color: #EA4335;
    /*-fx-text-fill: white;*/
    /*-fx-opacity: 50%;*/
}

.periodeChargee-column {
    -fx-font-size: 80%;
    -fx-alignment: baseline-center;
}
.periodeChargee-column .label {
    -fx-wrap-text: true;
    -fx-alignment: baseline-center; /* FIXME FDA 2017/08 Sans effet. */
}

.chargePlanifiee-column {
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}
.chargePlanifiee-column .label {
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}