
/*
Généralités :
*/

/*TODO FDA 2017/05 Trouver comment définir le style au niveau de tous les éléments "readonly".*/
.nonModifiable {
    -fx-font-style: italic;
}

/* Cf. https://stackoverflow.com/questions/18669209/javafx-what-is-the-best-way-to-display-a-simple-message */
/*
.popup {
    -fx-background-color: cornsilk;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 3;
}
*/

/* Cf. http://fxexperience.com/2011/11/alternate-row-highlighting-in-empty-tableview-and-listview-rows */
.table-row-cell:empty {
    -fx-background-color: white;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

/* Cf. https://stackoverflow.com/questions/21707178/javafx-how-to-set-selected-row-text-color-in-not-focused-tableview */
/*
.table-row-cell:selected {
   -fx-background-color: steelblue;
   -fx-text-background-color: red;
}
*/

/* Cf. http://fxexperience.com/2011/11/alternate-row-highlighting-in-empty-tableview-and-listview-rows */
.list-cell:empty {
    -fx-background-color: white;
}

/*
Barre d'état :
*/

/*Cf. http://www.java2s.com/Code/Java/JavaFX/UsingCSStostyletheborder.htm*/
.barreEtat {
    -fx-border-color: darkgray;
    -fx-border-width: 1pt 1pt 1pt 1pt;
    -fx-border-style: solid;
    /*-fx-border-insets: 0pt;*/

    /*-fx-spacing: 1pt;*/
    -fx-padding: 0pt 1pt 0pt 1pt;

    -fx-alignment: CENTER_LEFT;
}

.itemBarreEtat {
    -fx-border-color: lightgray;
    -fx-border-width:  0pt 1pt 0pt 0pt;
    -fx-border-style: solid;
    /*-fx-border-insets: 0pt;*/

    /*-fx-spacing: 1pt;*/

    -fx-alignment: CENTER;
}


/*
Validation de la saisie depuis l'IHM :
*/

.erreurSaisie {
/*
    -fx-background-color: darkred;
    -fx-text-fill: white;
*/
    /* Cf. ControlsFX */
    -fx-effect: dropshadow(three-pass-box, darkred, 7, 0, 0, 0);
}

.erreurSaisie-vbox {
    /*-fx-border-insets: 5pt, 5pt, 5pt, 5pt;*/
    /*-fx-spacing: 5pt;*/
}

.warningSaisie {
    /* Cf. ControlsFX */
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}

.popup {
    /* Cf. ControlsFX */
    -fx-effect: dropshadow(three-pass-box, gold, 14, 0, 0, 0);
}
.popup .label {
    -fx-text-fill: black;
}


/*
Tables :
*/

.paramFiltre-box {
    -fx-alignment: CENTER;
    -fx-border-color: darkgray;
    -fx-padding: 3 3 3 3;
}

paramAffichage-box {
    -fx-alignment: CENTER;
    -fx-border-color: darkgray;
    -fx-padding: 3 3 3 3;
}


/*
Dispo :
*/

.periodeDispo-column {
    -fx-font-size: 80%;
    -fx-alignment: baseline-center;
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}
.periodeDispo-column .label {
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}
..periodeDispo-column: avantMission {
    -fx-background-color: RGB(52,101,143, 0.2); /*rgba(221, 221, 221, 0.3);*/ /*rgba(224, 255, 255, 0.25) lightcyan #e0ffff*/

    -fx-background-image: url("/images/tropTot.png");
    /*-fx-opacity: 50%;*/ /* Pour pouvoir continuer de différencier les lignes paires de celles impaires. */
}
.periodeDispo-column: pendantMission {
    /*
    -fx-background-color: #778899;
    -fx-text-fill: white;
    */
}
.periodeDispo-column: apresMission {
    -fx-background-color: RGB(35,100,156, 0.2); /*rgba(192, 192, 192, 0.3);*/ /*rgba(173, 216, 230, 0.25) lightblue #add8e6*/

    -fx-background-image: url("/images/tropTard.png");
    /*-fx-opacity: 50%;*/ /* Pour pouvoir continuer de différencier les lignes paires de celles impaires. */
}


/*
Tâches :
*/

.description-column : {
    -fx-alignment: baseline-left;
}

.projetAppli-column : {
    -fx-alignment: baseline-center;
}
/* [issue#57:Cadrer des colonnes des tâches et du plan de charge]
.projetAppli-column .text : {
    -fx-text-alignment: baseline-center;  <-- Sans effet...
}
*/
.echeance-column: {
}
.echeance-column:echue {
    -fx-background-color: #FF0066; /*TODO FDA 2017/09 Adapter en fonction de la CSS du thème (choisi par l'utilisateur).*/
    -fx-opacity: 75%;
    -fx-text-fill: white;
}
.echeance-column:echeanceNonTenue {
    -fx-text-fill: DARKSALMON;
    /*-fx-font-weight: bold;*/
}
/*
.echeance-column:echue:echeanceNonTenue {
    -fx-background-color: #FF0066; *//*_TODO FDA 2017/09 Adapter en fonction de la CSS du thème (choisi par l'utilisateur).*//*
    -fx-opacity: 75%;
    -fx-text-fill: DARKSALMON;
    -fx-font-weight: bold;
}
*/

.importance-column {
}
.importance-column: avecEngagement {
    -fx-background-color: #990000; /*TODO FDA 2017/09 Adapter en fonction de la CSS du thème (choisi par l'utilisateur).*/
    -fx-opacity: 75%;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.importance-column: maximale {
    -fx-background-color: #CC3300; /*TODO FDA 2017/09 Adapter en fonction de la CSS du thème (choisi par l'utilisateur).*/
    -fx-opacity: 75%;
    -fx-text-fill: white;
}
.importance-column: haute {
    -fx-background-color: #FF6633; /*TODO FDA 2017/09 Adapter en fonction de la CSS du thème (choisi par l'utilisateur).*/
    -fx-opacity: 75%;
    -fx-text-fill: black;
}
.importance-column: normale {
    -fx-background-color: #FF9966; /*TODO FDA 2017/09 Adapter en fonction de la CSS du thème (choisi par l'utilisateur).*/
    -fx-opacity: 75%;
    -fx-text-fill: black;
}
.importance-column: basse {
    -fx-background-color: #FFCC99; /*TODO FDA 2017/09 Adapter en fonction de la CSS du thème (choisi par l'utilisateur).*/
    -fx-opacity: 75%;
    -fx-text-fill: black;
}
.importance-column: minimale {
    -fx-opacity: 75%;
    /*TODO FDA 2017/09 Adapter en fonction de la CSS du thème (choisi par l'utilisateur).*/
}

.charge-column {
    -fx-alignment: baseline-right;
}
.charge-column:chargeNonPlanifiee {
    -fx-background-color: #EA4335; /*TODO FDA 2017/09 Adapter en fonction de la CSS du thème (choisi par l'utilisateur).*/
    -fx-opacity: 75%;
    /*-fx-text-fill: white;*/
}

.ressource-column:surcharge {
    -fx-text-fill: red; /*TODO FDA 2017/09 Adapter en fonction de la CSS du thème (choisi par l'utilisateur).*/
}

.profil-column:surcharge {
    -fx-text-fill: red; /*TODO FDA 2017/09 Adapter en fonction de la CSS du thème (choisi par l'utilisateur).*/
}


/*
Charge / Plan de charge :
*/

.erase-button {
    -fx-graphic: url("/images/btnClear.png");
    /*
    -fx-background-image: url("/images/btnClear.png");
    !*-fx-background-size: 30px;*!
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
    !*-fx-background-position: 90%;*!
    !*
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    *!
    */
}

.tache-column {
}

.periodeChargee-column {
    -fx-font-size: 80%;
    -fx-alignment: baseline-center;
}
.periodeChargee-column .label .text {
    -fx-wrap-text: true;
    -fx-alignment: baseline-center; /* FIXME FDA 2017/08 Sans effet. */
}
.periodeChargee-column: avantPeriodeDemandee {
    -fx-background-color: RGB(52,101,143, 0.2); /*rgba(221, 221, 221, 0.3);*/ /*rgba(224, 255, 255, 0.25) lightcyan #e0ffff*/
    /*-fx-text-fill: white;*/

    -fx-background-image: url("/images/tropTot.png");
    /*-fx-opacity: 50%;*/ /* Pour pouvoir continuer de différencier les lignes paires de celles impaires. */
}
.periodeChargee-column: pendantPeriodeDemandee {
    /*-fx-background-color: #778899;*/
    /*-fx-text-fill: white;*/
}
.periodeChargee-column: apresPeriodeDemandee {
    -fx-background-color: RGB(35,100,156, 0.2); /*rgba(192, 192, 192, 0.3);*/ /*rgba(173, 216, 230, 0.25) lightblue #add8e6*/
    /*-fx-text-fill: white;*/

    -fx-background-image: url("/images/tropTard.png");
    /*-fx-opacity: 50%;*/ /* Pour pouvoir continuer de différencier les lignes paires de celles impaires. */
}
.periodeChargee-column: surcharge {
    -fx-text-fill: red;
}

.chargePlanifiee-column {
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}
.chargePlanifiee-column .label {
    -fx-wrap-text: true;/* FIXME FDA 2017/08 Sans effet. */
}
.chargePlanifiee-column:incoherence {
    -fx-background-color: darkred;
    -fx-text-fill: white;
    -fx-border-color: red;
    -fx-border-width: 2pt;
    /*-fx-text-fill: white;*/
    /*-fx-opacity: 100%;*/
}
