<configuration scan="false">

    <property name="APP_NAME" value="planCharge" />
    <property name="LOGS_DIR" value="./logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- On Windows machines setting withJansi to true enables ANSI
                 color code interpretation by the Jansi library. This requires
                 org.fusesource.jansi:jansi:1.8 on the class path.  Note that
                 Unix-based operating systems such as Linux and Mac OS X
                 support ANSI color codes by default. -->
        <!--<withJansi>true</withJansi>-->
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{HH:mm:ss} %highlight(%-5level) - %gray(%msg) at %cyan(%class{5}#%method) \(%file:%line\) %n%boldRed(%xException{0})</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOGS_DIR}/${APP_NAME}.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date{yyyy/MM/dd HH:mm:ss} %-5level - %msg %logger{20} \(%file:%line\) %n%ex{full}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOGS_DIR}/${APP_NAME}_%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="fr.gouv.agriculture.dal.ct.planCharge" level="DEBUG"/>
    <logger name="fr.gouv.agriculture.dal.ct.planCharge.metier.dao" level="INFO"/>
    <logger name="fr.gouv.agriculture.dal.ct.planCharge.ihm.controller.suiviActionsUtilisateur" level="INFO"/>

    <logger name="SYSTEM" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="FILE"/>-->
    </root>
</configuration>